html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
a {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-style: normal;
}

img {
  display: block;
}