<section class="portfolio-projects--list">
    <div class="portfolio-projects--img"><img src="./images/ar.jpg" alt="" /></div>
    <div class="portfolio-projects--content">
        <h2>Augmented Reality Sandbox</h2>
        <h3>Role: <i> Project and Curriculum Designer, Research Team Member, Co-creator
            </i></h3>
        <div class="tabs tabs-style-underline">
            <nav>
                <ul>
                    <li><a href="#ar-1"><span>Design</span></a></li>
                    <li><a href="#ar-2"><span>Deliver</span></a></li>
                    <li><a href="#ar-3"><span>Research</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="ar-1">
                    <p>The Augmented Reality Sandbox provides learning in geological sciences - study of watersheds,
                        land structures. In addition to the content Augmented Reality Sandbox provides an excellent
                        application in the principles of augmented reality. Co-lead on project: Dr. Ashu Guru.
                    </p>
                    <p>The original <a href="https://arsandbox.ucdavis.edu/" title="AR framework" target="_blank" rel="noopener">AR
                            framework</a> utilized in this project is called "Augmented Reality Sandbox" and it was
                        developed at the University of California, Davis.
                    </p>
                </section>
                <section id="ar-2">
                    <p>Design Lab 21:<b><a href="https://unlcms.unl.edu/ianr/extension/4-h-youth-development/designlab21/augmented-reality-sandbox"
                                title="WT curriculum" target="_blank" rel="noopener">https://unlcms.unl.edu/ianr/extension/4-h-youth-development/designlab21/augmented-reality-sandbox</a>
                    </p>
                </section>
                <section id="ar-3">
                    <p>TBA</p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </div>
</section>