<section class="portfolio-projects--list">
    <div class="portfolio-projects--img"><img src="./images/eship.jpg" alt="" /></div>
    <div class="portfolio-projects--content">
        <h2>Entrepreneurship</h2>
        <h3>Role: <i>Entrepreneurship Issue Team member; Research Team Member, Curriculum Support</i></h3>
        <div class="tabs tabs-style-underline">
            <nav>
                <ul>
                    <li><a href="#eship-1"><span>Design</span></a></li>
                    <li><a href="#eship-2"><span>Deliver</span></a></li>
                    <li><a href="#eship-3"><span>Research</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="eship-1">
                    <p>As part of a diverse team of educators and specialists, Dagen is a team-member contributing to
                        the overall-success of the Youth Entrepreneurship and Business Opportunities Issue Team of
                        Nebraska 4-H. The YEBO team focuses on developing the Entrepreneurial mindset and skills in
                        youth as well as connecting community members and youth.</p>
                </section>
                <section id="eship-2">
                    <p>TEC Box<br><a href="https://extension.unl.edu/entrepreneurship/programs-k-12/tec-box" target="_blank"
                            rel="noopener">https://extension.unl.edu/entrepreneurship/programs-k-12/tec-box</a>
                        <br><br>INVENTURE Day<br><a href="https://extension.unl.edu/entrepreneurship/programs-k-12/inventure-day"
                            target="_blank" rel="noopener">https://extension.unl.edu/entrepreneurship/programs-k-12/inventure-day</a>
                        <br><br>ESI<br><a href="https://extension.unl.edu/entrepreneurship/programs-k-12/esi" target="_blank"
                            rel="noopener">https://extension.unl.edu/entrepreneurship/programs-k-12/esi</a>
                        <br><br>Blue Print<br><a href="https://extension.unl.edu/entrepreneurship/programs-k-12/blueprint"
                            target="_blank" rel="noopener">https://extension.unl.edu/entrepreneurship/programs-k-12/blueprint</a>
                    </p>
                </section>
                <section id="eship-3">
                    <p>Yebo team 2017 report<br><a href="ttps://unl.app.box.com/s/y8aacqh23p6bspqjb8pco131scvnpmzk"
                            target="_blank" rel="noopener">https://unl.app.box.com/s/y8aacqh23p6bspqjb8pco131scvnpmzk</a></p>
                    <p>Denise Miller Innovator Award –NAE4-HA (Team Award)</p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </div>
</section>