<section class="portfolio-projects--list">
    <div class="portfolio-projects--img"><img src="./images/makerspace.jpg" alt="" /></div>
    <div class="portfolio-projects--content">
        <h2>Makerspaces</h2>
        <h3>Role: <i>NSF Project Staff, Research Team Member, Curriculum Designer</i></h3>
        <div class="tabs tabs-style-underline">
            <nav>
                <ul>
                    <li><a href="#section-underline-2"><span>Design</span></a></li>
                    <li><a href="#section-underline-1"><span>Deliver</span></a></li>
                    <li><a href="#section-underline-3"><span>Research</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-underline-2">
                    <p>The maker movement, which combines learning communities with physical community workspaces
                        called
                        Makerspaces, has gained momentum in recent years through school and community events like Maker
                        Faires
                        (Hlubinka, et al., 2013). The physical makerspace is an important gathering point for tools,
                        projects,
                        mentors/experts that enables a rich learning environment. However, the point of making is not
                        just to have an
                        abundance of tools in one space; rather, it is about helping participants create personally
                        meaningful
                        projects with the periodic help of mentors, experts, and peers in ad-hoc learning communities.
                        The makerspace
                        movement has been successful in large diverse community centers with ample population bases and
                        local
                        expertise. Currently there exists many high-quality making programs in metropolitan areas
                        across the United
                        States. However, geographic distance in rural states like Nebraska is one of the largest
                        barriers to student
                        participation in Makerspaces, and this issue is compounded further by a general lack of mentors
                        in these areas
                        who have the skills necessary to lead and guide communities of learners (Barniskis, 2014).
                        Rural communities
                        often struggle with digital equity issues and e-connectivity issues that causes them to be left
                        behind in
                        technology-related economic and educational areas (Townsend, Sathiaseelan, Fairhurst, &
                        Wallace, 2013). Rural
                        populations remain isolated from the science, technology, engineering, and mathematics (STEM)
                        resources
                        available in more urban, industrialized regions of the country. Contributing to these
                        inequities is the lack
                        of accessibility to advanced-technology businesses and higher education institutions which
                        isolate youth and
                        declining tax bases in once agriculturally rich communities (Petrin, Schafft, & Meece, 2014).
                    </p>
                </section>
                <section id="section-underline-1">
                    <p>Project Website (currently being developed)<br><a href="https://sites.google.com/view/eagerprojects/home"
                            target="_blank" rel="noopener">https://sites.google.com/view/eagerprojects/home</a></p>
                    <p>Other work associated with Nebraska Extension: IMLS Project<br>
                        <a href="http://www.nlc.state.ne.us/grants/InnovationStudios/" target="_blank" rel="noopener">http://www.nlc.state.ne.us/grants/InnovationStudios/</a>
                    </p>
                </section>
                <section id="section-underline-3">
                    <p><b>Attend NSF MakerSummit 2018</b><br><br>
                        Barker, B., Valentine, D., Grandgenett, N., Keshwani, J. & Burnett, A. (2018). Using Virtual
                        Reality and
                        Telepresence Robotics in Making. In PROCEEDINGS OF E-LEARN: WORLD CONFERENCE ON E-LEARNING IN
                        CORPORATE,
                        GOVERNMENT, HEALTHCARE, AND HIGHER EDUCATION (pp. 564-568). Las Vegas, NV, United States:
                        Association for the
                        Advancement of Computing in Education (AACE). <a href="https://www.learntechlib.org/p/185010/"
                            target="_blank" rel="noopener">https://www.learntechlib.org/p/185010/</a></p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </div>
</section>