<section class="portfolio-projects--list">
    <div class="portfolio-projects--img"><img src="./images/vr.jpg" alt="" /></div>
    <div class="portfolio-projects--content">
        <h2>VR & Telepresence</h2>
        <h3>Role: <i>NSF Project Staff, Research Team Member, Curriculum Designer
            </i></h3>
        <div class="tabs tabs-style-underline">
            <nav>
                <ul>
                    <li><a href="#vr-1"><span>Design</span></a></li>
                    <li><a href="#vr-2"><span>Deliver</span></a></li>
                    <li><a href="#vr-3"><span>Research</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="vr-1">
                    <p>This project focuses on using two main strategies; <b>a)</b> virtual collaborative spaces and <b>b)</b>
                        robotic telepresence, to provide rural youth access to the Maker movement. This high-risk model
                        will provide a replicable strategy of reaching rural underserved youth audiences within their
                        communities so that they may establish wider learning communities with experts and mentors and
                        thereby fully participate in the maker experience.</p>
                </section>
                <section id="vr-2">
                    <p>VR Support for project: <a href="https://sites.google.com/view/eagerprojects/virtual-reality"
                            target="_blank" rel="noopener">https://sites.google.com/view/eagerprojects/virtual-reality</a></p>
                </section>
                <section id="vr-3">
                    <p>Project Blog:<a href="https://vrmakerspace.org/blog/" target="_blank" rel="noopener">https://vrmakerspace.org/blog/
                        </a>
                    </p>
                    <p>Barker, B., Valentine, D., Grandgenett, N., Keshwani, J. & Burnett, A. (2018). Using Virtual
                        Reality and Telepresence Robotics in Making. In PROCEEDINGS OF E-LEARN: WORLD CONFERENCE ON
                        E-LEARNING IN CORPORATE, GOVERNMENT, HEALTHCARE, AND HIGHER EDUCATION (pp. 564-568). Las Vegas,
                        NV, United States: Association for the Advancement of Computing in Education (AACE).</p>
                    <p><a href="https://www.learntechlib.org/p/185010/" target="_blank" rel="noopener">https://www.learntechlib.org/p/185010/
                        </a>
                    </p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </div>
</section>