<section class="portfolio-projects--list">
    <div class="portfolio-projects--img"><img src="./images/weartec.jpg" alt="" /></div>
    <div class="portfolio-projects--content">
        <h2>Wearable Technology</h2>
        <h3>Role: <i>Assistant Curriculum Designer, Research Team Member, Graduate Student</i></h3>
        <div class="tabs tabs-style-underline">
            <nav>
                <ul>
                    <li><a href="#section-underline-1"><span>Design</span></a></li>
                    <li><a href="#section-underline-2"><span>Deliver</span></a></li>
                    <li><a href="#section-underline-3"><span>Research</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-underline-1">
                    <p>Theoretically wearable textiles that combine computing with aesthetics can be thought of as
                        cognitive tools
                        (Jonassen, 2000) that enhance the learning process and allow students to creatively explore
                        computer
                        programming, mechanical and textile design, problem solving and collaboration and can as
                        presented in
                        open-ended problems that require integrative thinking. The theoretical basis of the using
                        wearable textiles
                        which includes the design, development, and building of computer-based electronic artifacts
                        that can be worn
                        is firmly situated in the constructivism theory of learning (Piaget, 1972) whereby children's
                        new knowledge is
                        actively constructed from the world around them through experiential practice and
                        independent/guided research
                        to integrate new knowledge and arrive at deeper understanding.</p>
                </section>
                <section id="section-underline-2">
                    <p><a href="https://shop4-h.org/collections/science-technology-engineering-math-curriculum#/?Collections=Science%2C+Technology%2C+Engineering%2C+%26+Math+Curriculum&search_return=all&Metasubjectarea=Wearable+Technology"
                            title="WT curriculum" target="_blank" rel="noopener">
                            WT curriculum</a> Wearable Technology serves as a rich medium for youth to solve real world
                        problems and
                        practice the engineering design process while immersed in the innovative area of this
                        technologies. This
                        curriculum teaches engineering design, computer programming, basic circuitry, and sewing.</p>
                    <p>
                        <b><a href="https://4-h.org/parents/national-youth-science-day/4-h-nysd-2017-incredible-wearables/"
                                title="NYSD Incredible wearables" target="_blank" rel="noopener">NYSD Incredible
                                wearables</a> 4-H National Youth Science Day -
                            Incredible&nbsp;Wearables</b><br>
                        If you've ever wondered how wearable technology like the FitBit or the Apple Watch work, this
                        year's NYSD
                        challenge is for you! Called Incredible Wearables, the challenge will have you and a group of
                        your friends
                        working together as an engineering team to build a functioning health monitor using a small
                        computer and low
                        cost sensors. With the help of volunteers and educators from the nation's 110 land-grant
                        colleges and
                        universities, not only will you build the monitor, but you'll also be able to analyze the
                        information you
                        gather on a computer, tablet or mobile phone. What kinds of careers could you do where a health
                        monitor might
                        help you with your job?

                    </p>
                </section>
                <section id="section-underline-3">
                    <p>Valentine, D. (2016). <i>Examining bridges between informal and formal learning environments: A
                            sequential
                            mixed method design</i> (Master's thesis). <a href="http://digitalcommons.unl.edu/aglecdiss/105/"
                            target="_blank" rel="noopener">http://digitalcommons.unl.edu/aglecdiss/105/</a>
                    </p>
                    <p>Barker, B., O'Connor, A., Valentine, D. (2016, Nov). <i>WearTec: Empowering Youth to Create
                            Wearable
                            Technologies.</i> Conference Presentation at 2016 Nebraska Extension Fall Conference,
                        Kearney, NE
                        Valentine, D.</p>
                    <p>Barker, B. Nugent, G. Keshwani, J. (2018, Jan). <i>The Effectiveness of E-textiles Technologies
                            to Promote
                            STEM Learning and Attitudes.</i> 16th Annual Hawaii International Conference on Education
                        Conference Proceedings</p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </div>
</section>